---
- name: Create PostgreSQL user {{ app.user }}
  community.postgresql.postgresql_user:
    name: "{{ app.user }}"
    password: "{{ pg_vault_secret.data.data.data[app.vault_key] }}"
  become_user: postgres
  no_log: true

- name: Create PostgreSQL database {{ app.db }}
  community.postgresql.postgresql_db:
    name: "{{ app.db }}"
    owner: "{{ app.user }}"
  become_user: postgres

- name: Create vector extension in {{ app.db }}
  community.postgresql.postgresql_ext:
    name: vector
    db: "{{ app.db }}"
  become_user: postgres
  when: app.vector_extension | default(false) | bool

- name: Create cube extension in {{ app.db }}
  community.postgresql.postgresql_ext:
    name: cube
    db: "{{ app.db }}"
  become_user: postgres
  when: app.earthdistance_extension | default(false) | bool

- name: Create earthdistance extension in {{ app.db }}
  community.postgresql.postgresql_ext:
    name: earthdistance
    db: "{{ app.db }}"
  become_user: postgres
  when: app.earthdistance_extension | default(false) | bool
