---
prometheus_port: 9090
grafana_port: 3000
prometheus_scrape_interval: "15s"
prometheus_retention: "30d"

prometheus_scrape_jobs:
  - job_name: prometheus
    targets: ["localhost:9090"]
  - job_name: node
    targets: ["localhost:9100"]

# Grafana OIDC (PocketID)
grafana_vault_secret_path: "kv/homelab/data/grafana"
grafana_oidc_name: "PocketID"
grafana_oidc_auth_url: "https://id.mol.la/authorize"
grafana_oidc_token_url: "https://id.mol.la/api/oidc/token"
grafana_oidc_api_url: "https://id.mol.la/api/oidc/userinfo"
grafana_oidc_scopes: "openid email profile groups"
grafana_root_url: "https://grafana.mol.la"
