(protected) {
    forward_auth 192.168.178.122:1411 {
        uri /api/forward-auth
        
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Method {method}
        header_up X-Forwarded-Uri {uri}
        header_up Host id.mol.la
        
        copy_headers Remote-User Remote-Email Remote-Name
    }
}

# Global: default ACME issuer with Cloudflare DNS-01 (token from env CLOUDFLARE_API_TOKEN)
{
    auto_https disable_redirects

	cert_issuer acme {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Proxmox VE
http://one.mol.la, one.mol.la {
    import protected
    reverse_proxy https://192.168.178.110:8006 {
        transport http {
            tls_server_name one.mol.la
        }
    }
}

# PocketID — OIDC/Passkey
http://id.mol.la, id.mol.la {
	reverse_proxy 192.168.178.122:1411
}

# AdGuard Primary — DNS UI
http://dns1.mol.la, dns1.mol.la {
	reverse_proxy 192.168.178.253:80
}

# AdGuard Secondary — DNS UI
http://dns2.mol.la, dns2.mol.la {
	reverse_proxy 192.168.178.254:80
}
