---
- name: Install prometheus-node-exporter
  ansible.builtin.apt:
    name: prometheus-node-exporter
    state: present
    update_cache: true

- name: Ensure node-exporter is running and enabled
  ansible.builtin.service:
    name: prometheus-node-exporter
    state: started
    enabled: true
