name: immich

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:{{ immich_version }}
    container_name: immich-server-{{ inventory_hostname }}
    restart: unless-stopped
    volumes:
      - "{{ immich_upload_path }}:/data"
      - /etc/localtime:/etc/localtime:ro
{% if immich_oidc_enabled | default(false) | bool %}
      - "/opt/compose/immich-{{ inventory_hostname }}/immich.json:/config/immich.json:ro"
{% endif %}
    env_file:
      - .env
    ports:
      - "{{ immich_http_port }}:2283"
      - "{{ immich_metrics_api_port }}:8081"
      - "{{ immich_metrics_microservices_port }}:8082"
    healthcheck:
      disable: false

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:{{ immich_version }}
    container_name: immich-ml-{{ inventory_hostname }}
    restart: unless-stopped
    volumes:
      - immich_model_cache:/cache
    env_file:
      - .env
    healthcheck:
      disable: false

volumes:
  immich_model_cache:
