global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: "{{ job.job_name }}"
    static_configs:
      - targets: {{ job.targets | to_json }}
{% endfor %}

  - job_name: "node"
    static_configs:
{% for node in prometheus_node_targets %}
      - targets: ["{{ node.addr }}"]
        labels:
          nodename: "{{ node.name }}"
{% endfor %}
    relabel_configs:
      - source_labels: [nodename]
        target_label: instance

  - job_name: "pve"
    static_configs:
      - targets:
          - "{{ pve_exporter_target }}"
    metrics_path: /pve
    params:
      module: [default]
      cluster: ["1"]
      node: ["1"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ pve_exporter_scrape_addr }}"
